/*----------------------------------------------------------------------
            ------MOBILE-------
---------------------------------------------------------------------- */
:root {
  /* ===== COULEURS ===== */
  --color-primary: #009933;
  --color-primary-dark: #006d25;
  --color-secondary: #e3b022;
  --color-secondary-dark: rgb(214, 165, 31);
  --color-white: #fff;
  --color-black: #1a1a2e;
  --color-gray: #a0aec0;
}

/* body{
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:40px 20px;
} */

/*---------------------------------GRID---------------------------------------------- */
.logement-grid{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  gap:20px 16px;
  max-width:1550px;
  padding: 0 3%;
  margin:0 auto;
  justify-items:start;  
}

.apparts-grid{
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  gap:20px 16px;
  max-width:1550px;
  margin:0 auto;
  justify-items:start; 
  margin-top: 30px; 
}

/*---------------------------------CARTES--------------------------------- */
.carte-package{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:10px;
  width:100%;
}

.apparts-package{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:10px;
  width: 100%;
}

.apparts-package .img-package{
  width: fit-content;
  aspect-ratio: 3/2;
  overflow:hidden;
  box-shadow:0 4px 10px rgba(0,0,0,.35);
}

.apparts-package .img-package img{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
}

.img-package img{
  width:100%;
  height:100%;
  object-fit:contain;
  display:block;
}

.btn-reservez, .desc-text button{
  background:var(--color-white);
  min-height: 5vh;
  color:var(--color-primary);
  font-weight:700;
  font-size:0.85rem;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,.25);
  padding:5px 20px;
  border:none;
  cursor:pointer;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition:background .25s ease, transform .25s ease;
}

.btn-reservez:hover, .desc-text button:hover{
  background:var(--color-secondary);
  color:var(--color-white);
  transform:translateY(-2px);
  font-size:0.95rem;
}

.description{
  padding: 0 3%;
}

.desc-text{
  width: 100%;
  display: flex;
  color: var(--color-white);
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}


/* -----------------------BOUTON ACCUEIL---------------------------- */
.btn-accueil-wrap{
    text-align:center;
    margin-top:10px;
}

/* ============================================
    RESPONSIVE : version desktop (≥ 900px)
    3 colonnes, sur une seule ligne
    ============================================ */
@media (min-width:900px){
    @media (min-width:900px){

      .logement-grid{
        grid-template-columns:repeat(4, 1fr);
        justify-items:center;
        gap:15px;
        padding: 0 5%;
      }
      
      .apparts-grid{
        grid-template-columns:repeat(4, 1fr);
        gap:15px;
        padding: 0 5%;
      } 

      .img-package{
        max-width: fit-content;
      }

      .carte-package h2{
        font-size:1.15rem;
      }

      .btn-reservez{
        font-size:1rem;
        padding:10px 30px;
      }
      
      .btn-accueil-wrap{
          text-align:center;
          margin-top:40px;
      }
      
      .description{
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding: 0 7%;
      }

      .desc-text{
        display: flex;
        width: 50%;
        justify-content: start;
        font-size: clamp(1rem, 1rem, 1.5rem);
        align-items: center;
      }

      .desc-text button{
        height: 5vh;
        margin-left: 20px;
      }
      
    }
}
